{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About | Fleming Slone{% endblock title %}

{% block content %}  

  <div class="page-headline">
	"Don't aim for success if you want it; just do what you love and believe in, and it will came naturally.""
  </div>
  <div class="latest-posts">
    BIOGRAPHY
  </div>
  <div class="page-text">
	In high school I began developing software and small websites for various local organizations. Not certain that I wanted to pursue programming full-time, I moved to Atlanta to attend the <a href="http://gatech.edu" target="_blank">Georgia Institute of Technology</a> to pursue degrees in Accounting, Marketing and Internet Technology Management.
	<br /><br />
	While at Tech I continued to develop software and offer hosting services under the <a href="http://onesideone.com" target="_blank">One Side One</a> name while also creating innovative marketing campaigns for small e-commerce sites like <a href="http://brick-anew.com" target="_blank">Brick-ANew</a>. More and more opportunities began to roll in, and after graduating from Tech in 2011 I expanded my talents to larger companies, eventually working on campaigns for high profile clients like <a href="http://webmd.com" target="_blank">WebMD</a> and <a href="http://chick-fil-a.com">Chick-Fil-A</a> before coming to accept an offer for <a href="http://nomi.com" target="_blank">NOMi</a> in 2013 that I still hold today.
	<br /><br />
	When I'm not churning out code you can find me hiking on the Appalachian Trail, playing guitar, or in class working on a psychology degree at <a href="http://oglethorpe.edu/" target="_blank">Oglethorpe University</a>. Follow me on <a href="https://instagram.com/betatype/" target="_blank">Instagram</a> if you would like to see me doing stuff.
  </div>
  <div class="centered">
	<img src="{% static 'images/dex.jpg' %}" alt="Dexter the Dog" class="centered-image">
  </div>
{% endblock content %}