{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About | Eric Slone{% endblock title %}

{% block content %}  

  <div class="page-headline">
	I'm still a youngin', to quote my grandmother. Here's what I've done in my 24 years.
  </div>
  <div class="latest-posts">
    BIOGRAPHY
  </div>
  <div class="page-text">
	I grew up in a quaint southern town called Valdosta, Georgia. In early high school I began designing and developing static websites for various organizations. Soon after graduating I made the jump to Atlanta to attend the <a href="http://gatech.edu" target="_blank">Georgia Institute of Technology</a> to pursue degrees in Economics and Aerospace Engineering.
	<br /><br />
	In January 2013, I was approached by a high school friend to develop a <a href="http://thoughtblox.com" target="_blank">social-media platform</a>; I agreed, and thus began my steep plunge into application development. Since then, I have been lucky enough to work on some great <a href="{% url 'users.views.projects' %}">projects</a> and meet many awesome people. I have truly loved every minute of it.
	<br /><br />
	Outside of code, I enjoy typical things with biking, music, and Sweetwater IPA topping the list. Follow me on <a href="https://instagram.com/eric.slone/" target="_blank">Instagram</a> if you would like to see me doing stuff. Like every pet owner ever, I think my dog is the cutest thing in the world.
  </div>
  <div class="centered">
	<img src="{% static 'images/dex.jpg' %}" alt="Dexter the Dog" class="centered-image">
  </div>
{% endblock content %}