{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Projects | Eric Slone{% endblock title %}

{% block content %}  

  <div class="image-headline">
	<img src="{% static 'images/css.jpg' %}" alt="Center for Space Systems Logo" class="projects-images">
  </div>
  <div class="latest-posts">
  </div>
  <div class="page-text">
	I moved to Atlanta in 2011 to pursue a BS in Aerospace Engineering at the <a href="http://gatech.edu" target="_blank">Georgia Institute if Technology</a> and soon took a position in the Center for Space Systems. I was assigned to the Prox-1 Nanosatellite, <a href="http://css.gatech.edu" target="_blank">check it out</a>.
	<br /><br />
	Serving as the thermal subsystem lead, I worked with a few fellow undergrads to make sure the satellite would maintain operable temperatures during flight. The work included extensive thermal modelling using Siemens NX 8 as well as Arduino programming for active heating elements.
	<br /><br />
	I also had the privilege of working at the <a href="http://www.comblab.ae.gatech.edu/" target="_blank">Ben Zinn Combustion Lab</a> performing flame tests on <a href="http://en.wikipedia.org/wiki/Silane" target="_blank">silane</a>. Blowing stuff up all day is just as fun as it sounds.
	<br /><br />
	<span class="small-date">Updated April 2015</span>
	<br /><br />
	<div class="pull-left">
		<a href="/project/stockprodotco/">
			<span class="fa fa-arrow-circle-left"></span> Previous
		</a>
	</div>
	<div class="pull-right">
		<a href="/project/onesideone/">
			Next <span class="fa fa-arrow-circle-right"></span>
		</a>
	</div>
  </div>

{% endblock content %}