{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Connect | Eric Slone{% endblock title %}

{% block content %}  

  <div class="page-headline">
	Let's work together. Connect with social media or give me a shout using the form below.
  </div>
  <div class="social-center">
	<a href="https://www.linkedin.com/pub/eric-slone/38/109/986" class="social-center-link" target="_blank">
		<span class="fa fa-linkedin-square social-icons" style="padding-left:0px;">
		</span>
	</a>
	<a href="https://instagram.com/eric.slone/" class="social-center-link" target="_blank">
		<span class="fa fa-instagram social-icons">
		</span>
	</a>
	<a href="https://github.com/ericslone" class="social-center-link" target="_blank">
		<span class="fa fa-github-square social-icons">
		</span>
	</a>
	<a href="https://twitter.com/ericwritescode" class="social-center-link" target="_blank">
		<span class="fa fa-twitter-square social-icons">
		</span>
	</a>
  </div>
  <div class="latest-posts">
    CONTACT
  </div>
  <div class="contact-form">
    <form action="{% url 'users.views.contact' %}"  method="post" id="contactform">
	{% csrf_token %}
		<input type="text" name="name" id="name" placeholder="Name" class="contact-input" onblur="confirmName()">
		<input type="email" name="email" id="email" placeholder="Email" class="contact-input" onblur="confirmEmail()">
		<br />
		<textarea name="message" id="message" placeholder="Message" class="contact-textarea" onblur="confirmMessage()"></textarea>
		<br />
		<div class="contact-submit" onclick="submit_signup()">
			Submit
		</div>
	</form>
  </div>

{% endblock content %}