{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Projects | Eric Slone{% endblock title %}

{% block content %}  

  <div class="page-headline">
	This site exemplifies many of my fundamental philosophies. Allow me to elaborate.
  </div>
  <div class="latest-posts">
  </div>
  <div class="page-text">
	First and foremost, I am a strong proponent of simple, flat design. No gradients, no shadows, and minimal color schemes. True to form, I designed this site with only four colors, large margins for easy focus, and minimal moving parts.
	<br /><br />
	Responsive design is always a priority. With the advent of CSS media queries, there are no longer any valid excuses for not designing with phones and tablets in mind. On a phone? Good for you. For my desktop users, reduce the width of your browser window and watch the magic happen.
	<br /><br />
	Lastly, this site is built with lots of love on <a href="https://www.djangoproject.com/" target="_blank">Django</a>, a Python framework. I am determined to never build another static website again. Check out the <a href="https://github.com/ericslone/personal-website" target="_blank"> Github Repo</a> to see the code.
	<br /><br />
	And here's another photo of Dexter.
	<br /><br />
	<span class="small-date">Updated April 2015</span>
  </div>
  <div class="centered">
	<img src="{% static 'images/dex2.jpg' %}" alt="Dexter the Dog" class="centered-image">
  </div>

{% endblock content %}