{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Social Media Button Generator | Eric Slone{% endblock title %}

{% block content %}  
	<div class="journal-article-top">
	</div>
	<div class="journal-article-title">
		Social Media Button Generator
	</div>
	<div class="journal-article-date">
		May 7, 2015
	</div>
	<div class="social-holder">
		<a class="social-share" href="http://www.facebook.com/sharer/sharer.php?u=http://ericslone.io/social-media-link-generator/" target="_blank">
			<span class="fa fa-facebook-square">
			</span>
		</a>
		<a class="social-share" href="https://twitter.com/home?status=Social%20media%20link%20generator:%20http://www.ericslone.io/social-media-link-generator/%20@ericwritescode" target="_blank">
			<span class="fa fa-twitter-square">
			</span>
		</a>
		<a class="social-share" href="http://www.tumblr.com/share?v=3&u=http://ericslone.io/social-media-link-generator/&t=Social%20Media%20Link%20Generator" target="_blank">
			<span class="fa fa-tumblr-square">
			</span>
		</a>
		<a class="social-share" href="http://www.reddit.com/submit?url=http://ericslone.io/social-media-link-generator/&title=Social%20Media%20Link%20Generator" target="_blank">
			<span class="fa fa-reddit-square">
			</span>
		</a>
		<a class="social-share" href="https://www.linkedin.com/shareArticle?mini=true&url=http://ericslone.io/social-media-link-generator/&title=Social%20Media%20Link%20Generator&summary=&source=" target="_blank">
			<span class="fa fa-linkedin-square">
			</span>
		</a>
	</div>
	<div class="article-text">
		As explained in <a href="/post/4/social-media-links-101/">Social Media Links 101</a>, I am not a fan of the JavaScript-based plugins provided by the major social media sites. I built this generator to provide everyone with a lightweight alternative for sharing content. As always, please <a href="/connect">contact me</a> with any suggestions or feedback, and don't forget to follow me on <a href="https://www.linkedin.com/pub/eric-slone/38/109/986" target="_blank">LinkedIn</a>, <a href="https://instagram.com/eric.slone/" target="_blank">Instagram</a>, <a href="http://twitter.com/ericwritescode" target="_blank">Twitter</a>, and <a href="https://github.com/ericslone" target="_blank">Github</a>.
		<div class="article-header">
			Step 1: Choose the site
		</div>
		<br />
		<br />
		<div class="radio-spacer">
			<input type="radio" name="social" value="Facebook" id="Facebook" onclick="updateSocial()" checked="checked" /><label for="Facebook"><span></span>Facebook</label>
		</div>
		<div class="radio-spacer">
			<input type="radio" name="social" value="Twitter" id="Twitter" onclick="updateSocial()" /><label for="Twitter"><span></span>Twitter</label>
		</div>
		<div class="radio-spacer">
			<input type="radio" name="social" value="Pinterest" id="Pinterest" onclick="updateSocial()" /><label for="Pinterest"><span></span>Pinterest</label>
		</div>
		<div class="radio-spacer">
			<input type="radio" name="social" value="Tumblr" id="Tumblr" onclick="updateSocial()" /><label for="Tumblr"><span></span>Tumblr</label>
		</div>
		<div class="radio-spacer">	
			<input type="radio" name="social" value="LinkedIn" id="LinkedIn" onclick="updateSocial()" /><label for="LinkedIn"><span></span>LinkedIn</label>
		</div>
		<div class="radio-spacer">	
			<input type="radio" name="social" value="Reddit" id="Reddit" onclick="updateSocial()" /><label for="Reddit"><span></span>Reddit</label>
		</div>
		<div class="radio-spacer">
			<input type="radio" name="social" value="StumbleUpon" id="StumbleUpon" onclick="updateSocial()" /><label for="StumbleUpon"><span></span>StumbleUpon</label>
		</div>
		<div class="radio-spacer">
			<input type="radio" name="social" value="Google" id="Google" onclick="updateSocial()" /><label for="Google"><span></span>Google+</label>
		</div>
		<br />
		<br />
		<div class="article-header">
			Step 2: Choose a preview
		</div>
		<br />
		<br />
		<div class="radio-spacer">
			<input type="radio" name="button" value="Large" id="Large" onclick="updateCode()" checked="checked" /><label for="Large"><span></span><img id="LargeImage" src="http://ericslone.io/static/images/icons/facebook.png"></label>
		</div>
		<div class="radio-spacer">
			<input type="radio" name="button" value="Medium" id="Medium" onclick="updateCode()" /><label for="Medium"><span></span><img id="MediumImage" src="http://ericslone.io/static/images/icons/facebook.png" style="width:65px;"></label>
		</div>
		<div class="radio-spacer">
			<input type="radio" name="button" value="Small" id="Small" onclick="updateCode()" /><label for="Small"><span></span><img id="SmallImage" src="http://ericslone.io/static/images/icons/facebook.png" style="width:30px;"></label>
		</div>
		<div class="radio-spacer">
			<input type="radio" name="button" value="Text" id="Text" onclick="updateCode()" /><label for="Text"><span></span>Share on <div style="display:inline;" id="SocialUpdate">Facebook</div></label>
		</div>
		<br />
		<br />
		<div class="article-header">
			Step 3: Enter this information
		</div>
		<br />
		<br />
		<div id="UpdateFields">
		<input class="generator-input" id="URL" placeholder="URL to share" onblur="updateCode()" style="display:block;">
		<input class="generator-input" id="Title" placeholder="Title of post" onblur="updateCode()" style="display:none;">
		<input class="generator-input" id="ImageURL" placeholder="URL of the image you want to share" onblur="updateCode()" style="display:none;">
		<textarea class="contact-textarea" id="Tweet" placeholder="Type your tweet here" onblur="updateCode()" style="display:none;"></textarea>
		<textarea class="contact-textarea" id="Description" placeholder="Description" onblur="updateCode()" style="display:none;"></textarea>
		<textarea class="contact-textarea" id="Summary" placeholder="Summary (optional)" onblur="updateCode()" style="display:none;"></textarea>
		</div>
		<br />
		<br />
		<div class="article-header">
			Step 4: Copy and paste this code
		</div>
		<br />
		<br />
		<textarea class="contact-textarea" onclick="this.select()" id="SocialCode" readonly></textarea> 
	</div>
{% endblock content %}