{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Projects | Eric Slone{% endblock title %}

{% block content %}  

  <div class="image-headline">
	<img src="{% static 'images/sp.jpg' %}" alt="StockPro.co Logo" class="projects-images">
  </div>
  <div class="latest-posts">
  </div>
  <div class="page-text">
	Still under construction (with a ways to go), <a href="http://stockpro.co" target="_blank">StockPro.co</a> is a stock market analytics platform for beginning investors. Mock portfolios, of course based on actual real-time price data, are the core of the platform and allow users to test their investing skills risk free. The Education Center provides a step-by-step guide to investing, and a points system <i>gamifies</i> the entire process of learning and rewards smart investing.
	<br /><br />
	Some history: I invested my first few thousands in late 2008/ early 2009. Long story short, I made quite a bit of money. During that time, however, I cannot recall a single person supporting my decision to invest; I realized most people know very little about the stock market, and more often than not misconceptions prevail. After investigating numerous stock analytic and education sites, I was unable to find many resources for beginning investors. Even <i>Stock Investing for Dummies</i> was overly complicated and very opinionated. Thus, SP was born.
	<br /><br />
	I hold a BS in Economics from the <a href="http://gatech.edu" target="_blank">Georgia Institute of Technology</a>, so I feel I have enough knowledge to be able to teach beginners. I hope to inspire and empower those who are too risk-adverse to participate in the market. 
	<br /><br />
	<span class="small-date">Updated April 2015</span>
	<br /><br />
	<div class="pull-left">
		<a href="/project/dinnercrunch/">
			<span class="fa fa-arrow-circle-left"></span> Previous
		</a>
	</div>
	<div class="pull-right">
		<a href="/project/centerforspacesystems/">
			Next <span class="fa fa-arrow-circle-right"></span>
		</a>
	</div>
  </div>


{% endblock content %}