{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Projects | Eric Slone{% endblock title %}

{% block content %}  

  <div class="image-headline">
	<img src="{% static 'images/tb.jpg' %}" alt="Thoughtblox Logo" class="projects-images">
  </div>
  <div class="latest-posts">
  </div>
  <div class="page-text">
    Thoughtblox is a socially-driven publishing platform aiming to better promote the world's ideas. Everyone is encouraged to write and enjoy exposure to a focused community, while readers utilize innovative browsing tools and organizational features to make their reading time count. Check it out at <a href="http://thoughtblox.com" target="_blank">thoughtblox.com</a>.
	<br /><br />
	In January 2013, I received a call from a high school friend by the name of Brad Glisson. He had recently conceived an idea for a social media platform, and given my technical background, wanted to bring me on board as cofounder. I immediately said no.
	<br /><br />
	Brad then insisted on driving four hours to Atlanta simply to give me the pitch in person; I realized he was serious about this idea. After a full weekend of discussion and a decent amount of beer, I couldn't wait to get started.
	<br /><br />
	We began by preparing a beautiful PowerPoint presentation simulating the functionality of the website and, in retrospect, the most ridiculous 80-page business plan ever. Despite our obvious inexperience, we were able to secure a $50,000 investment within a few weeks, hired a small team of programmers (including myself), and got to work.
	<br /><br />
	Two and a half years later, I could not be more proud of our accomplishments, and more importantly, the relationships and technical skills I have been able to cultivate. As the majority of the Thoughtblox team begins to graduate college, we have high hopes for growth in the next few months. Stay tuned for updates.
	<br /><br />
	For the nerds: Thoughtblox is built with the love only Python programmers can feel on <a href="https://www.djangoproject.com/" target="_blank">Django</a> (as is the <a href="/project/site/"> site you're looking at</a>) and running a <a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a> database.
	<br /><br />
	<span class="small-date">Updated May 2015.</span>
	<br /><br />
	<div class="pull-right">
		<a href="/project/dinnercrunch/">
			Next <span class="fa fa-arrow-circle-right"></span>
		</a>
	</div>
  </div>

{% endblock content %}